<!-- <h1 >
    {{title}}
</h1>

<div >
    <p>{{message}}</p>
</div>

<div>
    <button mat-button (click)="onDismiss()">No</button>
    <button mat-raised-button color="primary" (click)="onConfirm()">Yes</button>
</div> -->
<h1 mat-dialog-title>
    {{title}}
</h1>

<div mat-dialog-content>
    <p>{{message}}</p>
</div>

<div mat-dialog-actions>
    <!-- <button mat-button (click)="onDismiss()">No</button> -->
    <button mat-raised-button style="background-color: #13be69; color: white;" (click)="onConfirm()">Continuar</button>
</div>