<div class="container">
  <p>&nbsp;</p>
  <p>&nbsp;</p>


  <div class="row ">
    <div class="col-sm-12 text-center" style="color: white;">
      <div>
        <h2 style="font-size: 3rem;" class="color-text">
          <!-- <i class="fa fa-check"></i> -->
          ¿Querés saber más de nosotros?
        </h2>
      </div>


      <div style="padding-top: 3rem;">
        <!-- <app-maps></app-maps> -->
      </div>

      <div class="row " style="padding-top: 3rem;">

        <div class="col-sm-4 text-center" style="color: white;" style="cursor: pointer;" onclick="window.location=('http')">

          <i class="fa fa-phone color-text" style="font-size: 3rem;"></i>
          <br>
          <h3 class="color-text">
            4723850 - 4714216 - 4728024
          </h3>
        </div>
        <div class="col-sm-4 text-center" style="color: white;"  style="cursor: pointer;" onclick="window.location=('https://wa.me/3513719090')">

          <i class="fa fa-whatsapp color-text" style="font-size: 3rem;"></i>
          <br>
          <h3 class="color-text">
            3513719090
          </h3>
        </div>
        <div class="col-sm-4 text-center" style="color: white;"  style="cursor: pointer;" onclick="window.location=('https://www.google.com/maps?q=Bv.+Las+heras+782&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjNj9uX0oTqAhUCJrkGHet3BgcQ_AUoAXoECAwQAw')">

          <i class="fa fa-map-marker color-text" style="font-size: 3rem;"></i>
          <br>
          <h3 class="color-text">
            Bv. Las Heras 782

          </h3>
        </div>
      </div>


      <div class="row" style="padding-top: 4rem">

        <div class="col-sm-4 text-center" style="color: white;" style="cursor: pointer;" onclick="window.location=('https://www.instagram.com/disfrencordoba/?hl=kn')">

          <i class="fa fa-instagram color-text" style="font-size: 3rem;"></i>
          <br>
          <h3 class="color-text">
            @disfrencordoba
          </h3>
        </div>

        <div class="col-sm-4 text-center" style="color: white;"  style="cursor: pointer;" onclick="window.location=('mailto:ventas@disfren.com.ar')">

          <i class="fa fa-envelope color-text" style="font-size: 3rem;"></i>
          <br>
          <h3 class="color-text">
            ventas@disfren.com.ar
          </h3>
        </div>
        <div class="col-sm-4 text-center" style="color: white;"  style="cursor: pointer;" onclick="window.location=('https://www.facebook.com/DISFRENCORDOBA/')"> 
          <div>
            <i class="fa fa-facebook color-text" style="font-size: 3rem;"></i>
            <br>
            <h3 class="color-text">
              disfrencordoba
            </h3>
          </div>
        </div>
      </div>

    </div>

  </div>


  <div class="text-center" style="padding-top: 3rem;">
    <h2 style="font-size: 3rem;" class="color-text">
      <!-- <i class="fa fa-check"></i> -->
      Encontranos en MercadoLibre
    </h2>
  </div>
  <div style="padding-top: 3rem; padding-bottom: 3rem;">
    <iframe src="https://disfren.mercadoshops.com.ar/" height="600" width="100%"></iframe>
  </div>

</div>